table,th,td
{
  border: 1px solid black;
}
table
{
  border-collapse: collapse;
}

th
  {
  text-align: left;
  padding-right: 25px;
  border: 1px solid black;
  color: white;
  background-color: #F00000;
  }

td
  {
  padding-right: 25px;
  border: 1px solid black;
  }
  tr:nth-child(even)
  {
    background: #FFF000;
  }
